#DOC: Tim file dau tien tai gia pham mem doc hai
file_trojan = matchany : hash_equal : _q1 : answer=eace5e1bd0eeb4debb0f150fe27f91cb
_que_21 = matchany : hash_equal : _q21 : answer=174326de8c4b728216af9f6ea8d8d023
_que_22 = matchany : hash_equal : _q22 : answer=7813d1590d28a7dd372ad54b5d29d033
#DOC: Doan tai pham mem doc hai la gi, cong nao

file_dow = boolean : (_que_21 and _que_22)
#DOC: Bien moi truong file doc hai su dung
var = matchany : hash_equal : _q3 : answer=b66679e524f4cde4062e90cdd3ffa89c
#DOC: Tien trinh duoc su dung nhu LOBIN de thuc thi cac lenh doc hai
LOLBIN = matchany : hash_equal : _q4 : answer=45e0edaca8702e6e90d1d98cf3647d5f
#DOC: Lenh thuc thi doc hai kich hoat dau tien la lenh nao
command = matchany : hash_equal : _q5 : answer=db18c251598a58086700b3cf44a93938
#DOC: Tim duoc ngon ngu code cua pham mem doc hai
code = matchany : hash_equal : _q6 : answer=6ce809eacf90ba125b40fa4bd903962e
#DOC: Pham mem tai de leo thang dac quyen
software = matchany : hash_equal : _q7 : answer=2be14bb769c2df145b246a253fdb0852
#DOC: reverse shell qua cong nao
port = matchany : hash_equal : _q8 : answer=7b9dc501afe4ee11c56a4831e20cee71
_hash_file = matchany : string_equal : _hash : parameter.hash
