_hash_file = matchany : string_equal : _hash : parameter.hash
firefox_hash = boolean : (_hash_file and _firefox_check)
#DOC: Tim IP ke tan cong su dung voi truong hop RCE
ip_attack = matchany : hash_equal : _ip_attack : answer=6443c718af67ccda58835158f895a296
#DOC: Plugin ke tan cong su dung de khai thac
plugin = matchany : hash_equal : _plugin : answer=420ca5e73182ee20e72b8ded062d7870
#DOC: Ten cua tep web shell 
php_shell = matchany : hash_equal : _php_shell : answer=431af5594fa2fe306240f0f95a8fec93
#DOC: Ke tan cong con dung IP khac de tan cong, lay quyen dang nhap qua token nao
token = matchany : hash_equal : _token : answer=8f96e4f5fcff936298f13a4b8db8a242
#DOC: tool ke tan cong su dung de scan
tool2 = matchany : hash_equal : _tool2 : answer=da3bcb630536a3d32bc8db4adb4de1a0
#DOC: tool ke tan cong su dung de SQLi
tool1 = matchany : hash_equal : _tool1 : answer=5cdbe8f2f8ad3c0d7173cf69e8ad4296
